@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 10 10 15;
    --foreground: 255 255 255;
  }

  * {
    @apply box-border;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    @apply antialiased;
  }
}

@layer utilities {
  .text-gradient-primary {
    @apply bg-gradient-to-r from-violet-400 to-pink-400 bg-clip-text text-transparent;
  }
}
